name: Mongoose Shelly build
on:
  push:
    branches: [ master ]
jobs:
  release:
    name: Create a new release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: Create Release
      uses: actions/create-release@v1
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: release-${{ github.run_id }}
        release_name: Release ${{ github.run_id }}
        draft: false
        prerelease: false
  build:
    name: Build for different Shelly models
    needs: release
    strategy:
      matrix:
        hwModel:    [Shelly1, Shelly1PM, ShellyPlugS, Shelly2, Shelly25, ShellyRGBW2, ShellyDimmer1, ShellyDimmer2, ShellyEM, ShellyBulb, ShellyVintage, ShellyPlugUS, ShellyHT, ShellyBulbDuo, ShellyI3]
        hwPlatform: [esp8266]
        targetFw:   [tasmota, haa, espurna]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      id: checkout_code
    - name: Build firmware
      uses: yaourdt/mongoose-os-action@v1.0.2
      with:
        mos-yml-path: .
        platform: ${{ matrix.hwPlatform }}
        build-var: MODEL=${{ matrix.hwModel }} --build-var TARGETFW=${{ matrix.targetFw }}
      id: mos_build
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      id: upload-release-asset
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ./build/fw.zip
        asset_name: mg2${{ matrix.targetFw }}-${{ matrix.hwModel }}.zip
        asset_content_type: application/zip
